@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e74c3c;
  padding: 50px 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  letter-spacing: -0.01em;
}
